.container{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 800px;
    display: grid;
    border: 7px solid black;
    padding: 6px;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
}

.black-box{
    background-color: rgb(37, 37, 37);

}

.white-box{
    background-color: rgba(240, 146, 187, 0.678);
}