<div class="container-fluid" style="width: 100%; padding: 10px">

  <div *ngIf="">

  </div>

  <div class="row">
    <div class="col-4 d-flex flex-column">
      <div
        class="glassified"
        style="
          width: 50vh;
          height: 85vh;
          position: fixed;
          left: 80px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-top: 20px;
        "
      >
        <div
          style="
            height: 75vh;
            width: 50vh;
            display: flex;
            flex-direction: column;
            overflow: scroll;
            scrollbar-width: none;

            overflow-x: hidden;
          "
        >
          <div *ngFor="let data of globalClass.mycart">
            <div
              class="d-flex"
              style="
                padding-left: 10px;
                justify-content: space-between;
                padding-right: 20px;
              "
            >
              <h5 style="margin: 0px">{{ data.productName }}</h5>
              <h5 style="margin: 0px">${{ data.productPrice }}</h5>
            </div>
            <hr />
          </div>
        </div>

        <button
          style="
            height: 50px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            border: none;
            background-color: #0d6efd;
            font-weight: bold;
            color: white;
          "
        >
          Checkout ${{ totalCost() }}
        </button>
      </div>
    </div>
    <div class="col">
      <div class="d-flex flex-row flex-wrap gap-3 my-4 j">
        <h1 *ngIf="">no product in cart</h1>
        <div
          class="card"
          style="width: 18rem; cursor: pointer"
          *ngFor="let data of globalClass.mycart"
        >
          <a routerLink="/view/{{ data.productId }}">
            <img
              height="200px"
              src="{{ data.productImage }}"
              class="card-img-top p-1 bg-transparent"
              alt="image not loaded"
            />
          </a>

          <div class="card-body">
            <h5 class="card-title">{{ data.productName }}</h5>
            <p
              class="card-text"
              style="height: 90px; text-overflow: ellipsis; overflow: hidden"
            >
              {{ data.productContent }}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex gap-3">
              <b>Rating:</b>
              <div *ngFor="let element of generateStar(data.productRating)">
                <i class="bi bi-star-fill"></i>
              </div>
            </li>
            <li class="list-group-item">
              <b>Cetegory:</b> {{ data.productCategory }}
            </li>
            <li class="list-group-item">
              <b>price:</b> {{ data.productPrice }}
            </li>
          </ul>
          <div
            class="card-body d-flex align-items-center justify-content-between px-4"
          >
            <a
              type="button"
              class="btn btn-outline-danger"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Remove
            </a>

            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content bg-danger-subtle">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Warning!
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    are you sure to remove this from cart?
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <a

                      class="btn btn-danger"
                      (click)="removeProduct(data.productId);"
                      data-bs-dismiss="modal"
                      >Sure</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <a href="#" class="btn btn-outline-success">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
